#Functional Programming

*   Clear + Understandable
*   Eazy to Extend
*   Easy to Maintain   
*   Memory Efficient
*   DRY
   

Functional Programming Pillar

*Pure Function

#Pure Function

two rules
*   Insert 3 input it will always display the same output
*   Should not produce side effect

Pure Function

In [ ]:
def multiply_by2(li):
  new_list = []
  for item in li:
    new_list.append(item*2)
  return new_list #dont have side affect (no print)

print(multiply_by2([1,2,3]))

[2, 4, 6]

Not Pure Functions

In [ ]:
def multiply_by2(li):
  new_list = []
  for item in li:
    new_list.append(item*2)
  return print(new_list) #it has side affect (due print: it affects other terminal or outside the function!!!)

multiply_by2([1,2,3])

[2, 4, 6]

In [ ]:
new_list = [] #it affects the outside world or side effects the output
def multiply_by2(li):
  for item in li:
    new_list.append(item*2)
  return new_list

#new_list =''   #it affects the outside world or side effects the output
multiply_by2([1,2,3])

[2, 4, 6]

#map()

In [ ]:
def multiply_by2(item):
  return item * 2

#map will provide or the function list
#automatic loop for multiplication distribution for 1,2,3

print(list(map(multiply_by2,[1,2,3]))) #

[2, 4, 6]

In [ ]:
my_list = [1,2,3]

def multiply_by2(item):
  return item * 2
print(list(map(multiply_by2,[1,2,3])))
print(my_list)

[2, 4, 6]
[1, 2, 3]

#filter()
specify needed items in the list

In [ ]:
my_list = [1,2,3]
def check_odd(item):
  return item % 2  != 0

In [ ]:
print(list(filter(check_odd, my_list)))

[1, 3]

#zip()
 zip them together in index

In [ ]:
my_list = [1,2,3]
your_list = [10, 20, 30]
print(list(zip(my_list ,your_list)))

[(1, 10), (2, 20), (3, 30)]

In [ ]:
my_list = [1,2,3]
your_list = (10, 20, 30)
their_list = (5, 4, 3)
print(list(zip(my_list ,your_list, their_list)))

[(1, 10, 5), (2, 20, 4), (3, 30, 3)]

#reduce()

In [ ]:
from functools import reduce

In [ ]:
my_list = [1,2,3]

def accumulator(acc, item):
    print(acc,item)
    return acc + item
print(reduce(accumulator,my_list, 0))

0 1
1 2
3 3
6

In [ ]:
print(reduce(accumulator,my_list, 10))

10 1
11 2
13 3
16

#Lambda Expression

one time run -> less readable

lambda param: action(param)

In [ ]:
my_list = [1,2,3]

def multiply_by2(item):
  return item * 2

print(list(map(lambda item: item*2, my_list))) #def is not use

[2, 4, 6]

In [ ]:
print(list(filter(lambda item: item % 2 != 0, my_list)))

[1, 3]

In [ ]:
print(reduce(lambda acc, item: acc+item, my_list))

6

#Lambda Expression Excercise

In [3]:
#Square
my_list = [5,4,3]
new_list = list(map(lambda num: num*2, my_list))
print(new_list)

#List Sorting
a= [(0,2), (4,3), (10,-1), (9,9)]
print(a.sort())
print(a)

[10, 8, 6]
None
[(0, 2), (4, 3), (9, 9), (10, -1)]

In [4]:
#List Sorting
a= [(0,2), (4,3), (10,-1), (9,9)]
a.sort(key=lambda x:x[1])
print(a)

[(10, -1), (0, 2), (4, 3), (9, 9)]

#List Comprehensions

In [5]:
#List, set, dictionary

#not yet list comprehension
my_list = []

for char in 'hello':
  my_list.append(char)

print(my_list)

['h', 'e', 'l', 'l', 'o']

In [11]:
#using list comprehension
my_list = [char for char in 'hello'] # same as above
print(my_list)

mylist2 = [num for num in range(0,20)]
print(mylist2) #display all num range

my_list3 = [num**2 for num in range(0,20)] # raise to two
print(my_list3)
my_list4 = [num**2 for num in range(0,20)
if num % 2 == 0] #only even

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

#Set and Dictionary Comprehension

In [12]:
#using set comprehension
my_list = {char for char in 'hello'} # same as above
print(my_list)

mylist2 = {num for num in range(0,20)}
print(mylist2) #display all num range

my_list3 = {num**2 for num in range(0,20)} # raise to two
print(my_list3)
my_list4 = {num**2 for num in range(0,20)
if num % 2 == 0} #only even

{'h', 'l', 'o', 'e'}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
{0, 1, 256, 4, 9, 16, 144, 25, 289, 36, 169, 49, 64, 196, 324, 81, 225, 100, 361, 121}

In [13]:
#using dictionary
simple_dictionary  = {
    'a':1,
    'b':2
}
my_dictionary = {key:value**2 for key, value in simple_dictionary.items()}
print(my_dictionary)

{'a': 1, 'b': 4}

In [14]:
my_dictionary = {key:value**2 for key, value in simple_dictionary.items()
if value%2==0}
print(my_dictionary)

{'b': 4}

In [15]:
my_dictionary = {num:num*2 for num in [1,2,3]}
print(my_dictionary)

{1: 2, 2: 4, 3: 6}

#Excercise Comprehension

In [16]:
some_list = ['a', 'b', 'c', 'b', 'd' 'm', 'n', 'n']
duplicates = []

for value in some_list:
  if some_list.count(value) > 1:
    if value not in duplicates:
       duplicates.append(value)

print(duplicates)

['b', 'n']

In [18]:
duplicates = set([x for x in some_list if some_list.count(x) > 1])
print(duplicates)

{'b', 'n'}